{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{home.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="fldSell">Sell Price</label>
            <input id="fldSell" type="text" class="form-control" placeholder="0" name="fldSell" value="{{home.fldSell}}">
        </div>
        <div class="col">
            <label for="fldList">List Price</label>
            <input id="fldList" type="text" class="form-control" placeholder="0" name="fldList" value="{{home.fldList}}">
        </div>
        <div class="col">
            <label for="fldLiving">Living Space</label>
            <input id="fldLiving" type="text" class="form-control" placeholder="0" name="fldLiving" value="{{home.fldLiving}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldRooms">Rooms</label>
            <input id="fldRooms" type="text" class="form-control" placeholder="0" name="fldRooms" value="{{home.fldRooms}}">
        </div>
        <div class="col">
            <label for="fldBeds">Beds</label>
            <input id="fldBeds" type="text" class="form-control" placeholder="0" name="fldBeds" value="{{home.fldBeds}}">
        </div>
        <div class="col">
            <label for="fldBaths">Baths</label>
            <input id="fldBaths" type="text" class="form-control" placeholder="0" name="fldBaths" value="{{home.fldBaths}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldAge">Age</label>
            <input id="fldAge" type="text" class="form-control" placeholder="0" name="fldAge" value="{{home.fldAge}}">
        </div>
        <div class="col">
            <label for="fldAcres">Acres</label>
            <input id="fldAcres" type="text" class="form-control" placeholder="0" name="fldAcres" value="{{home.fldAcres}}">
        </div>
        <div class="col">
            <label for="fldTaxes">Taxes</label>
            <input id="fldTaxes" type="text" class="form-control" placeholder="0" name="fldTaxes" value="{{home.fldTaxes}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

