{% extends "layout.html" %}
{% block content %}
<form action="/homes/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldSell">Sell Price</label>
            <input id="fldSell" type="text" class="form-control" placeholder="0" name="fldSell">
        </div>
        <div class="col">
            <label for="fldList">List Price</label>
            <input id="fldList" type="text" class="form-control" placeholder="0"
                   name="fldList">
        </div>
        <div class="col">
            <label for="fldLiving">Living Space</label>
            <input id="fldLiving" type="text" class="form-control" placeholder="0" name="fldLiving">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldRooms">Rooms</label>
            <input id="fldRooms" type="text" class="form-control" placeholder="0" name="fldRooms">
        </div>
        <div class="col">
            <label for="fldBeds">Beds</label>
            <input id="fldBeds" type="text" class="form-control" placeholder="0" name="fldBeds">
        </div>
        <div class="col">
            <label for="fldBaths">Baths</label>
            <input id="fldBaths" type="text" class="form-control" placeholder="0" name="fldBaths">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldAge">Age</label>
            <input id="fldAge" type="text" class="form-control" placeholder="0"
                   name="fldAge">
        </div>
        <div class="col">
            <label for="fldAcres">Acres</label>
            <input id="fldAcres" type="text" class="form-control" placeholder="0" name="fldAcres">
        </div>
        <div class="col">
            <label for="fldTaxes">Taxes</label>
            <input id="fldTaxes" type="text" class="form-control" placeholder="0" name="fldTaxes">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}

